
<div class="columns my-5 is-centered" >
  <div class="column is-6">

    <div class="field">
      <label>Título
        <input [(ngModel)]="produtoEditar.title" placeholger="Título">
      </label>

    </div>

    <div class="field">
      <label>Preço
        <input [(ngModel)]="produtoEditar.price" placeholger="Preço">
      </label>
    </div>
    <div class="field">
      <label>Descrição
        <textarea [(ngModel)]="produtoEditar.description" placeholger="Descrição"></textarea>

      </label>
    </div>
    <button (click)="salvarProduto()"> Salvar</button>

  </div>
</div>





